*/__pycache__/*
data/
results/
snapshot/
tensorboard/
results_kitti/
snapshot_kitti/
tensorboard_kitti/
repeatability/*.log
repeatability/*/
kernels/dispositions
geometric_registration_kitti/*
geometric_registration/3DSmoothNet/
geometric_registration/pred_result/*
geometric_registration/gt_result/*
geometric_registration/kpconv_*
geometric_registration_eth/pred_result/*
geometric_registration_eth/kpconv_*
geometric_registration_eth/SHOT/*
geometric_registration_eth/FPFH/*
*.pyc
*.so
*.o
*.log
